.main-container {
  /* min-height: 100vh; */
  overflow: hidden;
}
.title-div-container {
  width: 100%;
  height: 100%;
  background-color: var(--clr-container-clr);
  z-index: 105;
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.title-div {
  display: flex;
  gap: 5rem;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background2),
    var(--clr-side-background3)
  );
  border-radius: 1rem;
  z-index: 105;
  position: relative;
}

.logo-div {
  display: inline-block;
  margin-left: 2rem;
}

h1 {
  flex: 0 0 1;
  display: inline-block;
  align-self: center;
  margin: auto;
}

.title-div h1 {
  justify-self: center;
  font-size: 3.2rem;
  color: var(--clr-text-clr);
  text-transform: uppercase;
}

.logo-div {
  padding: 0.5rem 0;
  width: 6rem;
}

.logo {
  width: 100%;
}

/* ****************** */
/* *****CONTAINER******* */
/* ****************** */
.container {
  padding: 0 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-container-clr);
  height: 100%;
  /* max-height: 100%; */
  gap: 0.5rem;
  overflow: hidden;
}

/* ****************** */
/* *****MAIN******* */
/* ****************** */
.main {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 0.1rem solid var(--clr-side-background2);
  overflow: hidden;
}
/* 
.simsubscreen {
  height: 100vh;
} */

.nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  justify-content: space-between;
}

#nextButton,
#reButton {
  justify-self: flex-end;
  grid-column: 2/3;
}

#prevButton {
  justify-self: flex-start;
  grid-column: 1/2;
}

.footer {
  font-size: 1.2rem;
  padding: 0 1rem;
  grid-column: 1/-1;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background3),
    var(--clr-side-background2)
  );
  color: var(--clr-text-clr);
  border-radius: 0.5rem;
}

.step-div {
  display: flex;
  align-items: center;
}
.incanvas {
  font-weight: 900;
  color: var(--clr-side-background2);
}

.circlebg {
  background-color: var(--clr-side-background2);
  color: #fff;
  width: 3rem;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  aspect-ratio: 1;
  margin-right: 1rem;
}

/* canvas settings */
/***********************
******* Canvas 0 Start*******
************************
*/
.hide {
  display: none;
}
.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.simsubscreen {
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  position: relative;
}

.apparatus-images {
  margin-top: 1rem;
  position: relative;
  height: 50vh;
}

.appratus-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.metal0 {
  position: absolute;
  left: 2.25%;
  top: 36.97%;
  width: 20.22%;
  height: 11.67%;
}
.machine0 {
  position: absolute;
  left: 39.66%;
  top: -8.59%;
  width: 38.2%;
  height: 124.15%;
}
.off0 {
  position: absolute;
  left: 49.1%;
  top: 16.21%;
  width: 24.72%;
  height: 78.21%;
}
.holder0 {
  position: absolute;
  left: 26.97%;
  top: 41.14%;
  width: 16.85%;
  height: 9.55%;
}

/***********************
******* Canvas 0 End*******
************************
*/

/*
**********************
******* Canvas 1 Start*******
************************
*/
.machine1 {
  position: absolute;
  left: 39.66%;
  top: 15.42%;
  width: 38.2%;
  height: 80.7%;
}
.off1 {
  position: absolute;
  left: 49.1%;
  top: 27.21%;
  width: 24.72%;
  height: 58.21%;
}
.bl {
  position: absolute;
  left: 5.62%;
  top: 64.33%;
  width: 12.36%;
  height: 7.13%;
}

/***********************
******* Canvas 1 End *******
************************
*/

/***********************
******* Canvas 2 Start*******
************************
*/

.machine2 {
  position: absolute;
  left: 39.66%;
  top: 15.42%;
  width: 38.2%;
  height: 80.7%;
}
.off2 {
  position: absolute;
  left: 49.1%;
  top: 27.21%;
  width: 24.72%;
  height: 58.21%;
}
.metal2 {
  position: absolute;
  left: 50.49%;
  top: 62.15%;
  width: 12.36%;
  height: 7.13%;
}
.bh {
  position: absolute;
  left: 12.36%;
  top: 62.85%;
  width: 16.85%;
  height: 9.55%;
  cursor: pointer;
}

/***********************
******* Canvas 2 End*******
************************
*/

/***********************
******* Canvas 3 Start*******
************************
*/
.hyd {
  position: absolute;
  left: 39.66%;
  top: 15.42%;
  width: 38.2%;
  height: 80.7%;
}
.off3 {
  position: absolute;
  left: 49.1%;
  top: 27.21%;
  width: 24.72%;
  height: 58.21%;
}
.blank {
  position: absolute;
  left: 50.49%;
  top: 62.15%;
  width: 12.36%;
  height: 7.13%;
}
.machine {
  position: absolute;
  left: 48.26%;
  top: 58.82%;
  width: 16.85%;
  height: 9.55%;
}
.sw {
  position: absolute;
  left: 69.89%;
  top: 57.31%;
  width: 7.3%;
  height: 12.02%;
  cursor: pointer;
}
.on3 {
  position: absolute;
  left: 49.1%;
  top: 27.21%;
  width: 24.72%;
  height: 58.21%;
}
.m {
  position: absolute;
  left: 22.47%;
  top: 22.18%;
  width: 56.18%;
  height: 68.15%;
}
.diebg {
  position: absolute;
  left: 22.47%;
  top: 22.18%;
  width: 56.18%;
  height: 68.15%;
}
.w {
  position: absolute;
  left: 22.47%;
  top: 22.18%;
  width: 56.18%;
  height: 74.31%;
}
.rbg {
  position: absolute;
  left: 22.47%;
  top: 22.18%;
  width: 56.18%;
  height: 68.15%;
}
.lbg {
  position: absolute;
  left: 22.47%;
  top: 22.18%;
  width: 56.18%;
  height: 68.15%;
}
.die {
  position: absolute;
  left: 22.47%;
  top: 22.18%;
  width: 56.18%;
  height: 68.15%;
}
.metal {
  position: absolute;
  left: 22.47%;
  top: 22.18%;
  width: 56.18%;
  height: 68.15%;
}
.press {
  position: absolute;
  left: 35.39%;
  top: 31.43%;
  width: 13.48%;
  height: 26.25%;
}
.EQ1 {
  position: absolute;
  left: 23.6%;
  top: 22.18%;
  width: 61.8%;
  height: 64.62%;
}
.EQ {
  position: absolute;
  left: 24.16%;
  top: 36.23%;
  width: 44.94%;
  height: 36.97%;
}

/***********************
******* Canvas 3 End*******
************************
*/

/***********************
******* Canvas 4 Start*******
************************
*/

.re {
  position: absolute;
  left: 22.47%;
  top: 22.18%;
  width: 56.18%;
  height: 68.15%;
}
.press-4 {
  position: absolute;
  left: 35.39%;
  top: 48.06%;
  width: 13.48%;
  height: 26.25%;
  cursor: pointer;
}

/***********************
******* Canvas 5 start*******
************************
*/

.hyd1 {
  position: absolute;
  left: 39.66%;
  top: 15.42%;
  width: 38.2%;
  height: 80.7%;
}
.off5 {
  position: absolute;
  left: 49.1%;
  top: 27.21%;
  width: 24.72%;
  height: 58.21%;
}
.blank1 {
  position: absolute;
  left: 54.62%;
  top: 63.63%;
  width: 4.49%;
  height: 3.25%;
}
.bh1 {
  position: absolute;
  left: 48.26%;
  top: 58.82%;
  width: 16.85%;
  height: 9.55%;
  cursor: pointer;
}

/***********************
******* Canvas 5 End*******
************************
*/
/***********************
******* Canvas 6 Start*******
************************
*/
.hyd1-6 {
  position: absolute;
  left: 39.66%;
  top: 15.42%;
  width: 38.2%;
  height: 80.7%;
}
.off6 {
  position: absolute;
  left: 49.1%;
  top: 27.21%;
  width: 24.72%;
  height: 58.21%;
}
.cup-6 {
  position: absolute;
  left: 51.01%;
  top: 51.93%;
  width: 15.73%;
  height: 19.08%;
}
.blank1-6 {
  position: absolute;
  left: 54.22%;
  top: 63.63%;
  width: 4.49%;
  height: 3.25%;
  cursor: pointer;
}

/***********************
******* Canvas 6 End*******
************************
*/

/***********************
******* Animations *******
************************
*/

@keyframes movePattern {
  0% {
    left: 5.62%;
    top: 64.7%;
  }
  20% {
    left: 5.62%;
    top: 57.31%;
  }
  70% {
    left: 47.19%;
    top: 57.31%;
  }
  100% {
    left: 50.49%;
    top: 62.15%;
  }
}
@-webkit-keyframes movePattern {
  0% {
    left: 5.62%;
    top: 64.7%;
  }
  20% {
    left: 5.62%;
    top: 57.31%;
  }
  70% {
    left: 47.19%;
    top: 57.31%;
  }
  100% {
    left: 50.49%;
    top: 62.15%;
  }
}

@keyframes movePattern2 {
  0% {
    left: 12.36%;
    top: 62.85%;
  }
  20% {
    left: 12.36%;
    top: 54.53%;
  }
  70% {
    left: 46.07%;
    top: 54.53%;
  }
  100% {
    left: 48.26%;
    top: 58.82%;
  }
}
@-webkit-keyframes movePattern2 {
  0% {
    left: 12.36%;
    top: 62.85%;
  }
  20% {
    left: 12.36%;
    top: 54.53%;
  }
  70% {
    left: 46.07%;
    top: 54.53%;
  }
  100% {
    left: 48.26%;
    top: 58.82%;
  }
}

@keyframes movepress {
  0% {
    left: 35.39%;
    top: 31.43%;
  }
  100% {
    left: 35.39%;
    top: 48.06%;
  }
}
@-webkit-keyframes movepress {
  0% {
    left: 35.39%;
    top: 31.43%;
  }
  100% {
    left: 35.39%;
    top: 48.06%;
  }
}

@keyframes movew {
  0% {
    left: 22.47%;
    top: 22.18%;
  }
  100% {
    left: 22.47%;
    top: 40.67%;
  }
}
@-webkit-keyframes movew {
  0% {
    left: 22.47%;
    top: 22.18%;
  }
  100% {
    left: 22.47%;
    top: 40.67%;
  }
}

@keyframes moverbg {
  0% {
    left: 22.47%;
    top: 22.18%;
  }
  100% {
    left: 19.1%;
    top: 22.18%;
  }
}
@-webkit-keyframes moverbg {
  0% {
    left: 22.47%;
    top: 22.18%;
  }
  100% {
    left: 19.1%;
    top: 22.18%;
  }
}

@keyframes movelbg {
  0% {
    left: 22.47%;
    top: 22.18%;
  }
  100% {
    left: 25.84%;
    top: 22.18%;
  }
}
@-webkit-keyframes movelbg {
  0% {
    left: 22.47%;
    top: 22.18%;
  }
  100% {
    left: 25.84%;
    top: 22.18%;
  }
}

@keyframes movepress2 {
  0% {
    left: 35.39%;
    top: 48.06%;
  }
  100% {
    left: 35.39%;
    top: 31.43%;
  }
}
@-webkit-keyframes movepress2 {
  0% {
    left: 35.39%;
    top: 48.06%;
  }
  100% {
    left: 35.39%;
    top: 31.43%;
  }
}

@keyframes movePattern3 {
  0% {
    left: 49.66%;
    top: 60.82%;
  }
  20% {
    left: 46.07%;
    top: 54.53%;
  }
  70% {
    left: 12.36%;
    top: 54.53%;
  }
  100% {
    left: 12.36%;
    top: 62.85%;
  }
}
@-webkit-keyframes movePattern3 {
  0% {
    left: 49.66%;
    top: 60.82%;
  }
  20% {
    left: 46.07%;
    top: 54.53%;
  }
  70% {
    left: 12.36%;
    top: 54.53%;
  }
  100% {
    left: 12.36%;
    top: 62.85%;
  }
}

@keyframes movecup {
  0% {
    left: 51.01%;
    top: 51.93%;
  }
  30% {
    left: 51.01%;
    top: 49.91%;
    transform: scale(1);
  }
  100% {
    left: 5.62%;
    top: 46.21%;
    transform: scale(2.5);
  }
}
@-webkit-keyframes movecup {
  0% {
    left: 51.01%;
    top: 51.93%;
  }
  30% {
    left: 51.01%;
    top: 49.91%;
    transform: scale(1);
  }
  100% {
    left: 5.62%;
    top: 46.21%;
    transform: scale(2.5);
  }
}
