html
{
    -moz-user-select     : none;
    -khtml-user-select   : none;
    -webkit-user-select  : none;
    -o-user-select       : none;
    user-select          : none;
}
#simscreen
{
    position: relative;
    left:0px;
    top:0px;
    height: 600px;
    width:800px;
    background-image: url("../images/background.png");
}

#copyright{
position: absolute;
left:50px;
top: 585px;
font-family: verdana;
font-size:12px
}

#title{
position:relative;
left:50px;
top:25px;
height:40px;
font-size: 24px;
text-align:center;
/* background-color: black; */
font-family: 'Times New Roman', Times, serif;
/* color: White; */
text-transform: uppercase;
}

#title h3{
padding-top:2px;
margin:0px;
}

#objective{
    /* t r b l */
    padding: 5px 0 2px 0;
    margin: 35px 0 0 0;
}

#apparatus{
    /* t r b l */
    padding: 5px 0 2px 0;
    margin: 5px 0 0 0;
}
#question-div{
	position: absolute;
	left:300px;
	top:350px;
	width:300px;
	height:120px;
	border:solid 1px gray;
	background-color: gray;
	filter: alpha(opacity=55);
	color:white;
	visibility:hidden;
}

.simsubscreen
{
position:absolute;
left: 50px;
top: 50px;
height:530px;
width:745px;


}

.incanvas
{
margin:5px 0 0 5px;
}
#nextButton{
    position: absolute;
    left: 740px;
    top: 520px;
    cursor:pointer;
}
#nextButton1{
    position: absolute;
    left: 750px;
    top: 530px;
cursor:pointer;
}


#prevButton{
    position: absolute;
    left: 30px;
    top: 520px;
    cursor:pointer;

}
#reButton{
    position: absolute;
    left: 740px;
    top: 520px;
    visibility: hidden;
    cursor:pointer;
}

.steptext{
    display:inline;
    position: absolute;
    top: 40px;
}

.steptext-6{
display:inline;}

.steptext-2{display:inline;}

.circlebg
{
border-radius:100%;
font-size:25px;
color:#fff;
text-align:center;
background:#000
}

/*-----------------------------------------blink----------------------- */



@keyframes movepress{
    0% {left:353px;top:90px;}
	20% {left:353px;top:155px;}
  40% {left:353px;top:185px;}
  60% {left:353px;top:185px;}
  80% {left:353px;top:155px;}
100% {left:353px;top:90px;}
}
@-webkit-keyframes movepress{
  0% {left:353px;top:90px;}
20% {left:353px;top:155px;}
40% {left:353px;top:185px;}
60% {left:353px;top:185px;}
80% {left:353px;top:155px;}
100% {left:353px;top:90px;}
}



@keyframes movew{
    0% {left:355px;top:282px;}
	100% {left:355px;top:408px;}
}
@-webkit-keyframes movew{
  0% {left:355px;top:282px;}
100% {left:355px;top:408px;}
}



@keyframes movePattern {
    0% {left:50px;top:350px;}
    20%{left:50px;top:290px;}
    70%{left:420px;top:290px;}
	100% {left:455px;top:312px;}
}
@-webkit-keyframes movePattern{
  0% {left:50px;top:350px;}
  20%{left:50px;top:290px;}
  70%{left:420px;top:290px;}
100% {left:455px;top:312px;}
}



@keyframes movePattern2 {
  0% {left:455px;top:312px;}
  30%{left:420px;top:290px;}
  80%{left:50px;top:290px;}
100% {left:50px;top:350px;cursor:default;}
}
@-webkit-keyframes movePattern2{
  0% {left:455px;top:312px;}
  30%{left:420px;top:290px;}
  80%{left:50px;top:290px;}
100% {left:50px;top:350px;cursor:default;}
}



@keyframes movescrap {
  0% {left:500px;top:334px;}
  10% {left:500px;top:334px;}
  35% {left:500px;top:315px;}
  80%{left:210px;top:315px;}
100% {left:210px;top:365px;}
}
@-webkit-keyframes movescrap{
  0% {left:500px;top:334px;}
  10% {left:500px;top:334px;}
  35% {left:500px;top:315px;}
  80%{left:210px;top:315px;}
100% {left:210px;top:365px;}
}


@keyframes movegrinder{
   0% {left:520px;top:300px;}
	10% {left:520px;top:200px;}
  25% {left:140px;top:200px;}
  35% {left:140px;top:240px;}
  45% {left:320px;top:270px;}
  55% {left:70px;top:280px;}
  65% {left:300px;top:290px;}
  75% {left:300px;top:200px;}
  90% {left:520px;top:200px;}
 100% {left:520px;top:300px;}
}
@-webkit-keyframes movegrinder{
  0% {left:520px;top:300px;}
 10% {left:520px;top:200px;}
 25% {left:140px;top:200px;}
 35% {left:140px;top:240px;}
 45% {left:320px;top:270px;}
 55% {left:70px;top:280px;}
 65% {left:300px;top:290px;}
 75% {left:300px;top:200px;}
 90% {left:520px;top:200px;}
100% {left:520px;top:300px;}
}
